@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/shooting-star.ico">
    <link rel="stylesheet" href="~/css/null.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/main.css">
    @if (IsSectionDefined("AddStyles"))
    {
        @await RenderSectionAsync("AddStyles", false)
    }
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body>
<header id="header">
    <div class="anchors">
        <div class="logo">
            <img class="logo-img" src="~/pictures/Header&Footer/shooting-star.png" alt="">
            <p class="logo-text">Wishler</p>
        </div>
        @if (IsSectionDefined("AddToHeader"))
        {
            @await RenderSectionAsync("AddToHeader", false)
        }
    </div>

    @{
        var avatarId =
            User.Identity!.IsAuthenticated ?
                int.Parse(User.FindFirstValue(ClaimTypes.UserData)) : 0;

        var avatars = new List<string>
        {
            "icon0.png",
            "icon1.png",
            "icon2.png",
            "icon3.png",
            "icon4.png",
            "icon5.png",
            "icon6.png",
            "icon7.png",
            "icon8.png"
        };
    }

    @if (!User.Identity!.IsAuthenticated)
    {
        <a asp-controller="Account" asp-action="Login">
            <button class='header_log-in'>Log in</button>
        </a>
    }
    else
    {
        <div class='header_profile'>
            @if (IsSectionDefined("ChangeAvatar"))
            {
                @await RenderSectionAsync("ChangeAvatar", false)
            }
            else
            {
                <img class="profile_picture" src="~/pictures/Users_icons/@avatars[avatarId]" alt="">
            }
            <div class="dropdown_wrapper">
                <div class="profile_dropdown">
                    <div class="overview">
                        @if (IsSectionDefined("ChangeAvatar2"))
                        {
                            @await RenderSectionAsync("ChangeAvatar2", false)
                        }
                        else
                        {
                            <img class="profile_picture" src="~/pictures/Users_icons/@avatars[avatarId]" alt="">
                        }
                        <div class="overview_data">
                            @if (IsSectionDefined("ChangeName"))
                            {
                                @await RenderSectionAsync("ChangeName", false)
                            }
                            else
                            {
                                <p>@User.FindFirstValue(ClaimTypes.Name)</p>
                            }
                            <p>@User.FindFirstValue(ClaimTypes.Email)</p>
                        </div>
                    </div>
                    <a asp-controller="Profile" asp-action="Index" class="section">
                        <div>
                            <div class='dropdown_btn'>
                                <p>Profile</p>
                            </div>
                            <img src="~/pictures/Header&Footer/user.png" alt="">
                        </div>
                    </a>
                    <a asp-controller="Friends" asp-action="Index" class="section">
                        <div>
                            <div class="dropdown_btn">
                                <p>Friends</p>
                            </div>
                            <img src="~/pictures/Header&Footer/friends.png" alt="">
                        </div>
                    </a>
                    <a asp-controller="Boards" asp-action="Index" class="section">
                        <div>
                            <div class="dropdown_btn">
                                <p class="boards_btn">Boards</p>
                            </div>
                            <img src="~/pictures/Header&Footer/blackboard.png" alt="">
                        </div>
                    </a>
                    <a asp-controller="Account" asp-action="Logout" class="section">
                        <div>
                            <div class="dropdown_btn">
                                <p class="logout_btn">Log out</p>
                            </div>
                            <img src="~/pictures/Header&Footer/logout.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
</header>
@RenderBody()
<footer>
    <div class="logo">
        <img class="logo-img" src="~/pictures/Header&Footer/white-star.png" alt="">
        <p class="logo-text" style="color: white; margin-bottom: -4px;">Wishler</p>
    </div>
</footer>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js"></script>
<script src="~/js/marquee.js"></script>
@if (IsSectionDefined("AddScripts"))
{
    @await RenderSectionAsync("AddScripts", false)
}
</body>
</html>