@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/shooting-star.ico">
    <link rel="stylesheet" href="~/css/null.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/main.css">
    @if (IsSectionDefined("AddStyles"))
    {
        @await RenderSectionAsync("AddStyles", required: false)
    }
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body>
<header id = "header">
    <div class="anchors">
        <div class="logo">
            <img class = "logo-img" src = "~/pictures/shooting-star.png">
            <p class = "logo-text">Wishler</p>
        </div>
        @if (IsSectionDefined("AddToHeader"))
        {
            @await RenderSectionAsync("AddToHeader", required: false)
        }
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-controller="Account" asp-action="Login">
            <button class = 'header_log-in'>Log in</button>
        </a>
    }
    else
    {
        <div class = 'header_profile'>
            <div class="profile_picture">
                <img src="~/pictures/user.png" alt="">
            </div>
            <div class="dropdown_wrapper">
                <div class="profile_dropdown">
                    <div class="overview">
                        <img class="profile_picture" src="~/pictures/user.png" alt="">
                        <div class="overview_data">
                            <p>@User.FindFirstValue(ClaimTypes.Name)</p>
                            <p>@User.FindFirstValue(ClaimTypes.Email)</p>
                        </div>
                    </div>
                    <p class = 'dropdown_btn'>Profile</p>
                    <p class = 'dropdown_btn'>Friends</p>
                    <p class = 'dropdown_btn'>Settings</p>
                    <p class = "dropdown_btn"><a class="boards_btn" asp-controller="Boards" asp-action="Index">Boards</a></p>
                    <p class = "dropdown_btn"><a class="logout_btn" asp-controller="Account" asp-action="Logout">Log out</a></p>
                </div>
            </div>
        </div>
    }
</header>
@RenderBody()
<footer>
    <div class="logo">
        <img class = "logo-img" src = "~/pictures/white-star.png">
        <p class = "logo-text" style = "color: white; margin-bottom: -4px;">Wishler</p>
    </div>
</footer>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js"></script>
<script src="~/js/marquee.js"></script>
@if (IsSectionDefined("AddScripts"))
    {
        @await RenderSectionAsync("AddScripts", required: false)
    }
</body>
</html>