@model Wishler.ViewModels.LoginViewModel

@{
    Layout = "_RegisterLogin";
}

@{
    ViewData["Title"] = "Log in";
    ViewData["Login/Register text"] = "Log in";
}

<form asp-controller="Account" asp-action="Login" class = "main_register-page">
        <div>
            <label asp-for="Email">E-mail</label>
            <input asp-for="Email" type="text" placeholder="Example@gmail.com">
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" placeholder="Password">
        </div>
        <button class="register_submit" type="submit">Submit</button>
    </form>

@section RedirectLink {
    <a asp-controller="Account" asp-action="Register">Don't have an account?</a>
}