@model Wishler.ViewModels.ChangePasswordViewModel

@{
    Layout = "_RegisterLogin";
}

@{
    ViewData["Title"] = "Change password";
}

<form method="post" class="main_register-page">
    <div>
        <label asp-for="OldPassword">Old password</label>
        <input asp-for="OldPassword" type="password" placeholder="Old password">
        <span class="error" asp-validation-for="OldPassword"></span>
    </div>
    <div>
        <label asp-for="NewPassword">New password</label>
        <input asp-for="NewPassword" type="password" placeholder="New password">
        <span class="error" asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label asp-for="ConfirmNewPassword">Confirm new password</label>
        <input asp-for="ConfirmNewPassword" type="password" placeholder="New password">
        <span class="error" asp-validation-for="ConfirmNewPassword"></span>
    </div>
    <button class="register_submit" type="submit">Submit</button>
</form>

<style type="text/css">
    .line {
        display: none;
    }
    .already-user {
        display: none !important;
    }
  </style>