@model User

@{
    Layout = "_RegisterLogin";
}

@{
    ViewData["Title"] = "Sign Up";
    ViewData["Login/Register text"] = "Sign up";
}

<form method="post" class="main_register-page">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" placeholder="Name">
    </div>
    <div>
        <label asp-for="Email">E-mail</label>
        <input asp-for="Email" type="text" placeholder="Example@gmail.com">
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" placeholder="Password">
    </div>
    <button class="register_submit" type="submit">Submit</button>
</form>

@section RedirectLink {
    <a asp-controller="Home" asp-action="Login">Already have an account?</a>
}