<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/shooting-star.ico">
    <link rel="stylesheet" href="~/css/null.css">
    <link rel="stylesheet" href="~/css/wrong_request.css">
    <title>Wrong Request</title>
</head>
<body>
<div class="error">
    <img class="error__background" src="~/pictures/starfall.jpg" alt="">
    <div class="error__body">
        <img class="error__image" src="~/pictures/Error/error-404.png" alt="">
        <p class="error__message">You don't have an access to this section</p>
    </div>
    <button onclick="history.go(-1)" class="error__go-back">Go back</button>
</div>
</body>
</html>