@model Wishler.ViewModels.BoardsViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Boards";
}

@{
    var backgroundsList = new List<string>
    {
        "bg1.jpg",
        "bg2.jpg",
        "bg3.jpg",
        "bg4.jpg",
        "bg5.jpg",
        "bg6.jpg"
    };
}

@section AddStyles{
    <link rel="stylesheet" href="~/css/boards.css">
}

@section AddToHeader {
    <div class="header_btn">
        <p>
            <strong>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </strong>
        </p>
    </div>
    <div class="header_btn">
        <p>
            <strong>
                <a asp-action="Index" asp-controller="Boards">Boards</a>
            </strong>
        </p>
    </div>
    <div class="header_btn">
        <p>
            <strong>
                <a asp-controller="Friends" asp-action="Index">Friends</a>
            </strong>
        </p>
    </div>
}

<div class="shadow"></div>

<div class="wrapper">
    <div class="folders">
        <p>
            <b>Folders:</b>
        </p>
        <div class="folder">
            <p class="folder_name">Folder1</p>
        </div>
        <div class="folder">
            <p class="folder_name">Folder2</p>
        </div>
        <div class="folder">
            <p class="folder_name">Folder3</p>
        </div>
        <div class="folder">
            <p class="folder_name">Folder4</p>
        </div>
        <div class="folder new-folder">
            <p class="folder_name">Create new folder</p>
        </div>
    </div>
    <div class="boards_wrapper">
        <p class="boards_folder-name">Name of folder</p>
        <div class="boards">
            @foreach (var board in Model.Boards.ToArray().Where(x => x.UserId == Model.UserId))
            {
                <div class="board">
                    <img class="board_image" src="~/pictures/Boards/@backgroundsList[int.Parse(board.PictureSource) - 1]" alt="">
                    <p class="board_name">@board.Name</p>
                    <div class="buttons">
                        <a href="/board/@board.Id" class="open">Open</a>
                        <a href="/boards/delete/@board.Id" class="delete">Delete</a>
                    </div>
                </div>
            }
            <div class="new-board">
                <p>+ Create new board</p>
            </div>
            <form class="new-board-form" asp-controller="Boards" asp-action="Create">
                <label asp-for="Board.Name"></label>
                <input asp-for="Board.Name" type="text">
                <input asp-for="Board.UserId" type="hidden" value="@Model.UserId">
                <input id="ps_input" asp-for="Board.PictureSource" type="hidden" value="0">
                <div class="new-board__backgrounds">
                    <img id="1" src="~/pictures/Boards/bg1.jpg" alt="">
                    <img id="2" src="~/pictures/Boards/bg2.jpg" alt="">
                    <img id="3" src="~/pictures/Boards/bg3.jpg" alt="">
                    <img id="4" src="~/pictures/Boards/bg4.jpg" alt="">
                    <img id="5" src="~/pictures/Boards/bg5.jpg" alt="">
                    <img id="6" src="~/pictures/Boards/bg6.jpg" alt="">
                </div>
                <div class="buttons">
                    <button class="create-btn" type="submit">Submit</button>
                    <button class="cancel-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section AddScripts{
    <script src="~/js/boards.js"></script>
}