body {
    padding-top: 70px;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    opacity: 1 !important;
    transition: unset !important;
}

.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shadow {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}

.shadow.active {
    z-index: 999 !important;
    opacity: 0.5;
}

textarea {
    position: relative;
    user-select: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.board {
    position: relative;
    min-width: 100%;
    height: 100%;
    padding: 20px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.board__access-settings {
    z-index: 4;
    position: absolute;
    left: 10px;
    top: 20px;
    cursor: pointer;
    padding: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: #3059fa 3px solid;
}

.access-settings__line {
    margin: 3.5px 0;
    width: 100%;
    border-bottom: #3059fa 5px solid;
}

.board__change-visibility {
    z-index: 1000;
    position: absolute;
    left: 10px;
    top: 20px;
    padding : 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

.board__change-visibility.active {
    display: flex;
}

.change-visibility__status {
    margin: 5px 0;
    padding: 10px;
    width: 100px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
    color:white;
    border-radius: 5px;
    background-color: white;
    transition-property: color, border;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.change-visibility__status.private {
    border: 2px solid red;
    color: red;
}

.change-visibility__status.private.selected-status {
    background-color: red;
    color: white;
}

.change-visibility__status.for-friends {
    border: 2px solid #3059fa;
    color: #3059fa;
}

.change-visibility__status.for-friends.selected-status {
    background-color: #3059fa;
    color: white;
}

.change-visibility__status.for-everybody {
    border: 2px solid green;
    color: green;
}

.change-visibility__status.for-everybody.selected-status {
    background-color: green;
    color: white;
}

.board__change-visibility > p {
    margin-top: 20px;
    padding: 0 10px;
    font-size: 14px;
    color: black;
    border: 2.5px #a9a9a9 solid;
    border-radius: 5px;
}

.column {
    margin: 0 20px 0 20px;
    min-width: 300px;
    max-width: 300px;
    height: fit-content;
    padding: 15px;
    border: 3px solid #3059fa;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.column__name {
    margin: 10px 0 0 5px;
    height: fit-content;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    color: #3059fa;
}

.tasks__list {
    list-style: none;
}

.tasks__item {
    list-style: none;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 2px solid rgb(149, 149, 149);
    background-color: white;
    border-radius: 5px;
}

.tasks__item:hover img {
    opacity: 1;
}

.tasks__item img {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 0 5px 5px white;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.tasks__item textarea {
    min-height: 20px;
    user-select: none !important;
    font-size: 15px;
    font-family: sans-serif;
}

.new {
    cursor: pointer;
    height: fit-content;
    background-color: #3059fa;
}

.new p {
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.create-column {
    margin: 0 20px 0 20px;
    min-width: 300px;
    max-width: 300px;
    border-radius: 10px;
}

.create-column p {
    margin: 10px;
    font-size: 20px;
}

.create-row {
    padding: 10px;
    border-radius: 5px;
}

.selected {
    opacity: 0.6;
}

.selected_column {
    opacity: 0.6;
}