body {
    max-height: 100vh;
    overflow: hidden;
}

header {
    opacity: 1 !important;
    transition: unset !important;
    z-index: 998 !important;
}

.shadow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 999 !important;
    opacity: 0.5;
}

.shadow.active {
    display: block;
}

.wrapper {
    margin-top: 40px;
    padding: 30px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.wrapper__left-part {
    width: 35%;
    height: 500px;
}

.group-members {
    margin-top: 35px;
    overflow-y: auto;
    width: 100%;
    height: 80%;
    padding: 10px;
    border: 2.5px solid #d2d2d2;
    border-radius: 5px;
}

.member {
    margin-bottom: 25px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 5px #a3a3a3;
}

.member__avatar {
    padding: 4px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #d7d7d7;
}

.member__info {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.member__info > * {
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
}

.member__info > * > span {
    font-size: 15px;
    font-weight: 600;
    color: #5678ff;
}

.member__crown-img {
    width: 40px;
    height: 40px;
}

.member__crown-img.non-owner {
    opacity: 0;
}

.member__its-you {
    width: 40px;
    height: 40px;
}

.member__delete-btn {
    padding: 10px;
    color: white !important;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
    background-color: red;
    border-radius: 5px;
}

.add-new-member {
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    background-color: #3059fa;
    border-radius: 5px;
}

.add-new-friend {
    background-color: #3059fa;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
}

.add-new-friend > p {
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    text-transform: capitalize;
}

.add-new-friend > span {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
}

.event {
    margin-top: 30px;
    padding: 15px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 5px;
}

.start {
    background-color: #3059fa;
}

.cancel {
    background-color: red;
}

.wish {
    padding: 20px;
    width: 40%;
    height: fit-content;
}

.wish.active {
    z-index: 1000 !important;
}

.wish > form > label {
    font-family: sans-serif;
    font-size: 15px;
    color: #3b3b3b;
}

.wish > form > textarea {
    outline: none !important;
    resize: none !important;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    height: 400px;
    font-size: 15px;
    font-family: sans-serif;
    border: 2.5px solid #3059fa;
    border-radius: 5px;
    transition: border 0.2s ease-in-out;
}

.wish > form > button {
    margin-top: 25px;
    padding: 10px 20px;
    color: white;
    background-color: #3059fa;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 5px;
}

.new-member__form {
    display: none;
    overflow-y: auto;
    margin-top: 21px;
    padding: 20px;
    width: 100%;
    height: 400px;
    border: 2.5px solid #3059fa;
    border-radius: 5px;
    background-color: white;
}

.add-member-btn {
    padding: 15px;
    font-size: 15px;
    background-color: #3059fa;
}

.delete {
    margin-top: 40px;
    width: 15%;
    height: 400px;
    color: white !important;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}