body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header {
    display: none !important;
}

.footer {
    display: none !important;
}

.error {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error__background {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.error__body {
    z-index: 2;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error__image {
    width: 200px;
    height: 200px;
}

.error__message {
    text-transform: uppercase;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
    color: white;
}

.error__go-back {
    margin-top: 30px;
    z-index: 2;
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
}